@model ContosoUniversity.ViewModels.DepartmentData
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.StartDate)
        </dd>

        <dt>
            Administrator
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrator.FullName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Department.DepartmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
